
/*Body*/


body {
  background-image: url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/434310/02f0eabf17fe99701d05f371387381e3dd696c6c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin:0px;
}

/*Gallery*/

.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 75vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
    color: white;
    width:fit-content;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }

  /*Menu Bar*/

  .grid-c1 {
    display:grid;
    grid-template-columns: 5vw 10vw 35vw 10vw 10vw 10vw 10vw 10vw;
    text-align: center;
    border: black 2px;
    background-color: rgba(0, 0, 0, 0.75);
    height: 40px;
    position: fixed;
}


.grid-i {
    padding: 0px;
    font-size: 4vh;
    text-align: center;
    height: 50px;
}

.grid-i4 {
  padding: 5px;
  font-size: 4vh;
  text-align: center;
  color: white;
}

div.grid-i:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.grid-i2 {
    padding: 0px;
    font-size: 4vh;
    text-align: center;
}

.grid-i3 {
    padding: 0px;
    font-size: 30px;
    text-align: center;
    /*background-color:rgba(255, 255, 255, 0.5);*/
    border-bottom:solid rgb(255, 255, 255) 5px;
}


a.one {
    text-decoration: none;
    color: white;
}


   