/*Body*/


body {
    background-image: url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/434310/02f0eabf17fe99701d05f371387381e3dd696c6c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
}


/*Menu Bar*/

.grid-c1 {
    display:grid;
    grid-template-columns: 5vw 10vw 35vw 10vw 10vw 10vw 10vw 10vw;
    text-align: center;
    border: black 2px;
    background-color: rgba(0, 0, 0, 0.75);
    height: 40px;
    position: fixed;
}


.grid-i {
    padding: 0px;
    font-size: 30px;
    text-align: center;
    height: 50px;
}

.grid-i4 {
  padding: 5px;
  font-size: 4vh;
  text-align: center;
  color: white;
}

div.grid-i:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.grid-i2 {
    padding: 0px;
    font-size: 4vh;
    text-align: center;
}

.grid-i3 {
    padding: 0px;
    font-size: 4vh;
    text-align: center;
    /*background-color:rgba(255, 255, 255, 0.5);*/
    border-bottom:solid rgb(255, 255, 255) 5px;
}


a.one {
    text-decoration: none;
    color: white;
}


   

/*Introduction*/

div.one{
    width: 75vw;
}


p.one{
    color: white;
    font-size: 18;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}